<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyJobs</title>
  <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="container">
    <!-- Left Section -->
    <header class="header">
      <div class="header__logo">
        <svg width="115" height="24" viewBox="0 0 115 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M29.6622 18.0923V6.11692e-06H33.0164V18.0923H29.6622Z" fill="#12121C"/>
          <path d="M24.0454 11.8154V18.0923H27.4489V10.6338C27.4489 10.4123 27.4325 10.0595 27.3996 9.57538C27.3667 9.09128 27.2722 8.55795 27.116 7.97539C26.9598 7.38462 26.6967 6.81846 26.3267 6.27692C25.965 5.73539 25.4553 5.28821 24.7976 4.93539C24.1399 4.58257 23.2891 4.40616 22.245 4.40616C20.9378 4.40616 19.8527 4.68923 18.9895 5.25539C18.5891 5.52051 18.2356 5.82431 17.9289 6.16681V4.8H14.9447V18.0923H18.3482V11.3477C18.3482 10.519 18.4386 9.85436 18.6195 9.35385C18.8086 8.85333 19.047 8.4759 19.3347 8.22154C19.6225 7.95897 19.9308 7.78256 20.2596 7.69231C20.5884 7.60205 20.8967 7.55692 21.1845 7.55692C21.8997 7.55692 22.4505 7.71692 22.8369 8.03692C23.2315 8.35692 23.5151 8.75487 23.6878 9.23077C23.8604 9.70666 23.9632 10.1826 23.9961 10.6585C24.029 11.1262 24.0454 11.5118 24.0454 11.8154Z" fill="#12121C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M3.20621 17.5631C4.21739 18.162 5.393 18.4615 6.73303 18.4615C8.06484 18.4615 9.23634 18.1661 10.2475 17.5754C11.2669 16.9764 12.0603 16.1518 12.6275 15.1015C13.203 14.0431 13.4907 12.8246 13.4907 11.4462C13.4907 10.0759 13.2071 8.86564 12.6399 7.81538C12.0726 6.75692 11.2793 5.92821 10.2599 5.32923C9.24867 4.73026 8.07306 4.43077 6.73303 4.43077C5.41767 4.43077 4.25439 4.72616 3.2432 5.31692C2.23201 5.90769 1.43868 6.73231 0.863209 7.79077C0.287737 8.84103 0 10.0595 0 11.4462C0 12.8164 0.279515 14.0308 0.838546 15.0892C1.4058 16.1395 2.19502 16.9641 3.20621 17.5631ZM9.13769 14.2523C8.61154 14.9744 7.80999 15.3354 6.73303 15.3354C5.68896 15.3354 4.89563 14.9867 4.35304 14.2892C3.81867 13.5836 3.55149 12.6359 3.55149 11.4462C3.55149 10.6749 3.66247 9.99795 3.88444 9.41538C4.11463 8.83282 4.46403 8.37743 4.93263 8.04923C5.40122 7.72102 6.00136 7.55692 6.73303 7.55692C7.79355 7.55692 8.59099 7.90974 9.12536 8.61538C9.66794 9.32102 9.93924 10.2646 9.93924 11.4462C9.93924 12.5867 9.67206 13.522 9.13769 14.2523Z" fill="#12121C"/>
          <path d="M39.3726 17.9876L37.182 24H40.2895L47.8118 4.8H44.4576L40.9788 13.8449L37.4779 4.8H34.0004L39.3726 17.9876Z" fill="#12121C"/>
          <path d="M43.8397 24L45 20.8738H46.9316C47.6962 20.8738 48.2182 20.7015 48.4977 20.3569C48.7855 20.0123 48.9293 19.52 48.9293 18.88V4.8H52.2835V20.5046C52.2835 21.5631 51.9506 22.4082 51.2847 23.04C50.627 23.68 49.735 24 48.6087 24H43.8397Z" fill="#12121C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M56.9641 17.5631C57.9753 18.162 59.1509 18.4615 60.4909 18.4615C61.8228 18.4615 62.9942 18.1661 64.0054 17.5754C65.0248 16.9764 65.8182 16.1518 66.3854 15.1015C66.9609 14.0431 67.2486 12.8246 67.2486 11.4462C67.2486 10.0759 66.965 8.86564 66.3978 7.81538C65.8305 6.75692 65.0372 5.92821 64.0178 5.32923C63.0066 4.73026 61.831 4.43077 60.4909 4.43077C59.1756 4.43077 58.0123 4.72616 57.0011 5.31692C55.9899 5.90769 55.1966 6.73231 54.6211 7.79077C54.0456 8.84103 53.7579 10.0595 53.7579 11.4462C53.7579 12.8164 54.0374 14.0308 54.5965 15.0892C55.1637 16.1395 55.9529 16.9641 56.9641 17.5631ZM62.8956 14.2523C62.3694 14.9744 61.5679 15.3354 60.4909 15.3354C59.4469 15.3354 58.6535 14.9867 58.111 14.2892C57.5766 13.5836 57.3094 12.6359 57.3094 11.4462C57.3094 10.6749 57.4204 9.99795 57.6423 9.41538C57.8725 8.83282 58.2219 8.37743 58.6905 8.04923C59.1591 7.72102 59.7593 7.55692 60.4909 7.55692C61.5515 7.55692 62.3489 7.90974 62.8833 8.61538C63.4258 9.32102 63.6971 10.2646 63.6971 11.4462C63.6971 12.5867 63.43 13.522 62.8956 14.2523Z" fill="#12121C"/>
          <path fill-rule="evenodd" clip-rule="evenodd" d="M75.263 18.4615C73.9394 18.4615 72.8337 18.1538 71.9458 17.5385C71.8487 17.4711 71.7541 17.4011 71.6622 17.3285V18.0923H68.7026V6.11692e-06H72.0815V5.22867C72.9103 4.69674 73.9133 4.43077 75.0904 4.43077C76.3646 4.43077 77.4745 4.73436 78.4199 5.34154C79.3653 5.94872 80.097 6.78154 80.6149 7.84C81.141 8.89026 81.4041 10.0923 81.4041 11.4462C81.4041 12.7754 81.1452 13.9692 80.6272 15.0277C80.1175 16.0861 79.4023 16.9231 78.4815 17.5385C77.5608 18.1538 76.4879 18.4615 75.263 18.4615ZM71.9581 9.32923C71.7608 9.93641 71.6622 10.642 71.6622 11.4462C71.6622 12.2503 71.7608 12.9559 71.9581 13.5631C72.1554 14.1703 72.4761 14.642 72.92 14.9785C73.3722 15.3149 73.9723 15.4831 74.7204 15.4831C75.4439 15.4831 76.0358 15.3026 76.4962 14.9415C76.9565 14.5805 77.2977 14.0964 77.5197 13.4892C77.7416 12.8738 77.8526 12.1928 77.8526 11.4462C77.8526 10.7077 77.7375 10.0349 77.5073 9.42769C77.2772 8.81231 76.9195 8.3241 76.4345 7.96308C75.9577 7.59385 75.3452 7.40923 74.5971 7.40923C73.8983 7.40923 73.3311 7.57744 72.8953 7.91385C72.4678 8.25026 72.1554 8.72205 71.9581 9.32923Z" fill="#12121C"/>
          <path d="M83.6577 17.3292C84.6936 18.0841 86.05 18.4615 87.7271 18.4615C89.47 18.4615 90.8347 18.0718 91.8212 17.2923C92.8077 16.5128 93.301 15.442 93.301 14.08C93.301 13.3908 93.1612 12.8041 92.8817 12.32C92.6022 11.8277 92.1542 11.4092 91.5376 11.0646C90.9292 10.7118 90.1194 10.4041 89.1083 10.1415C88.0724 9.87897 87.2996 9.66564 86.7899 9.50154C86.2884 9.33744 85.9555 9.17743 85.7911 9.02154C85.6349 8.86564 85.5568 8.67282 85.5568 8.44308C85.5568 8.05744 85.7417 7.76205 86.1117 7.55692C86.4899 7.3518 86.9872 7.26974 87.6038 7.31077C88.2368 7.36 88.7383 7.52821 89.1083 7.81538C89.4782 8.10256 89.6919 8.49231 89.7495 8.98462L93.2499 9C93.1348 8.1959 92.7543 6.86769 92.2528 6.27692C91.7595 5.68616 91.1101 5.23077 90.3044 4.91077C89.4988 4.59077 88.5739 4.43077 87.5298 4.43077C86.4529 4.43077 85.5157 4.60308 84.7182 4.94769C83.929 5.2841 83.3165 5.76821 82.8808 6.4C82.4451 7.02359 82.2272 7.76205 82.2272 8.61538C82.2272 9.29641 82.3711 9.87897 82.6589 10.3631C82.9466 10.839 83.4152 11.2492 84.0647 11.5938C84.7141 11.9385 85.5814 12.2503 86.6666 12.5292C87.6285 12.7836 88.3355 12.9887 88.7876 13.1446C89.248 13.3005 89.544 13.4605 89.6755 13.6246C89.807 13.7805 89.8728 13.9897 89.8728 14.2523C89.8728 14.6708 89.7084 14.999 89.3795 15.2369C89.0507 15.4667 88.5821 15.5815 87.9738 15.5815C87.2339 15.5815 86.6214 15.4051 86.1364 15.0523C85.6595 14.6995 85.3512 14.2113 85.2115 13.5877H81.7499C81.9719 14.9744 82.6301 16.5661 83.6577 17.3292Z" fill="#12121C"/>
          <path d="M101.191 4.8H104.545V18.0923H101.191V4.8Z" fill="#12121C"/>
          <path d="M112.287 18.3138C113.175 18.3385 114.079 18.2646 115 18.0923V15.3108C114.211 15.4174 113.491 15.4503 112.842 15.4092C112.192 15.3682 111.72 15.1138 111.424 14.6461C111.268 14.4 111.181 14.0718 111.165 13.6615C111.157 13.2431 111.152 12.7754 111.152 12.2585V7.38462H115V4.8H111.152V0H107.798V4.8H105.529V7.38462H107.798V12.4554C107.798 13.2513 107.807 13.9651 107.823 14.5969C107.839 15.2205 108.012 15.8359 108.341 16.4431C108.703 17.0913 109.229 17.5631 109.919 17.8585C110.618 18.1456 111.407 18.2974 112.287 18.3138Z" fill="#12121C"/>
          <path d="M48.9293 6.11692e-06V3.45385H52.2835V6.11692e-06H48.9293Z" fill="#12121C"/>
          <path d="M101.191 6.11692e-06V3.45385H104.545V6.11692e-06H101.191Z" fill="#12121C"/>
          <path d="M95.3203 18.0923V14.7446H98.6745V18.0923H95.3203Z" fill="#137547"/>
          </svg>
      </div>
      <ul class="header__social social-media">
        <li>
          <a href="#" aria-label="Facebook link">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.477 0 0 4.477 0 10C0 14.991 3.657 19.128 8.438 19.879V12.89H5.898V10H8.438V7.797C8.438 5.291 9.93 3.907 12.215 3.907C13.309 3.907 14.453 4.102 14.453 4.102V6.562H13.193C11.95 6.562 11.563 7.333 11.563 8.124V10H14.336L13.893 12.89H11.563V19.879C16.343 19.129 20 14.99 20 10C20 4.477 15.523 0 10 0Z" fill="#2D2E46"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Twitter link">
            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.2125 2.65605C20.4491 2.99375 19.6395 3.21555 18.8106 3.31411C19.6839 2.79132 20.3374 1.9689 20.6493 1.00005C19.8287 1.48761 18.9305 1.83077 17.9938 2.01461C17.2031 1.17106 16.098 0.693029 14.9418 0.694339C12.6326 0.694339 10.7597 2.56661 10.7597 4.87683C10.7597 5.20458 10.7973 5.52242 10.8676 5.82909C7.39048 5.65404 4.31008 3.99005 2.24678 1.45941C1.87529 2.09767 1.68006 2.82318 1.68105 3.56167C1.68105 5.01259 2.41961 6.29324 3.5415 7.043C2.87738 7.022 2.22789 6.84264 1.64719 6.51973C1.64655 6.5373 1.64654 6.55487 1.64654 6.57148C1.64654 8.5984 3.0882 10.2892 5.002 10.6731C4.64281 10.7703 4.27233 10.8194 3.90022 10.8191C3.62997 10.8191 3.36772 10.7942 3.1128 10.7453C3.64532 12.4065 5.18886 13.6159 7.0196 13.6491C5.53813 14.8118 3.70869 15.4426 1.82543 15.4399C1.49212 15.4402 1.15909 15.4205 0.828125 15.3811C2.74004 16.6102 4.96552 17.2625 7.23842 17.2601C14.9316 17.2601 19.138 10.8875 19.138 5.36111C19.138 5.1803 19.1336 4.99886 19.1256 4.81997C19.9443 4.22845 20.651 3.49567 21.2125 2.65605Z" fill="#2D2E46"/>
            </svg>
          </a>
        </li>
      </ul>
    </header>

    <main>
      <section>
        <h1 id="main-title">Coming Soon</h1>

        <!-- First article with form -->
        <article>
          <h2 id="follow-text"><b>Follow us for updates!</b></h2>
          <form method="post" action="/taske-info">
            <input id="email" name="email" type="email" placeholder="Your email" required>
            <button id="subscribe_btn" type="submit"><span class="btn-text">Subscribe</span></button>
          </form>
        </article>

        <!-- Second article with additional information -->
        <article>
          <h2 id="willback-text">We'll get back to you later</h2>
        </article>
      </section>
    </main>

    <!-- Footer with contacts info-->
    <footer>
      <h2 id="followus">FOLLOW US</h2>
      <ul class="social-media">
        <li>
          <a href="#" aria-label="Facebook link">
            <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10 0C4.477 0 0 4.477 0 10C0 14.991 3.657 19.128 8.438 19.879V12.89H5.898V10H8.438V7.797C8.438 5.291 9.93 3.907 12.215 3.907C13.309 3.907 14.453 4.102 14.453 4.102V6.562H13.193C11.95 6.562 11.563 7.333 11.563 8.124V10H14.336L13.893 12.89H11.563V19.879C16.343 19.129 20 14.99 20 10C20 4.477 15.523 0 10 0Z" fill="#2D2E46"/>
            </svg>
          </a>
        </li>
        <li>
          <a href="#" aria-label="Twitter link">
            <svg width="22" height="18" viewBox="0 0 22 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M21.2125 2.65605C20.4491 2.99375 19.6395 3.21555 18.8106 3.31411C19.6839 2.79132 20.3374 1.9689 20.6493 1.00005C19.8287 1.48761 18.9305 1.83077 17.9938 2.01461C17.2031 1.17106 16.098 0.693029 14.9418 0.694339C12.6326 0.694339 10.7597 2.56661 10.7597 4.87683C10.7597 5.20458 10.7973 5.52242 10.8676 5.82909C7.39048 5.65404 4.31008 3.99005 2.24678 1.45941C1.87529 2.09767 1.68006 2.82318 1.68105 3.56167C1.68105 5.01259 2.41961 6.29324 3.5415 7.043C2.87738 7.022 2.22789 6.84264 1.64719 6.51973C1.64655 6.5373 1.64654 6.55487 1.64654 6.57148C1.64654 8.5984 3.0882 10.2892 5.002 10.6731C4.64281 10.7703 4.27233 10.8194 3.90022 10.8191C3.62997 10.8191 3.36772 10.7942 3.1128 10.7453C3.64532 12.4065 5.18886 13.6159 7.0196 13.6491C5.53813 14.8118 3.70869 15.4426 1.82543 15.4399C1.49212 15.4402 1.15909 15.4205 0.828125 15.3811C2.74004 16.6102 4.96552 17.2625 7.23842 17.2601C14.9316 17.2601 19.138 10.8875 19.138 5.36111C19.138 5.1803 19.1336 4.99886 19.1256 4.81997C19.9443 4.22845 20.651 3.49567 21.2125 2.65605Z" fill="#2D2E46"/>
            </svg>
          </a>
        </li>
      </ul>
    </footer>
  </div>

  <!-- Right Section (Image) -->
  <div class="content-image ">    
    <img src="/images/image 12.png" alt="image12png"> 
    <img src="/images/image 13.png" alt="image12png">
    <img src="/images/image 14.png" alt="image12png">
  </div>
</body>
</html>
