<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>OnlyJobs 404</title>
  <link rel="icon" href="/icons/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
  <body>
    <h1>Page Not Found 404!</h1>
  </body>
</html>
